@import 'rem';

$min-width: 768px;
$max-width: 767px;

@mixin mobile {
	@media screen and (max-width: #{$max-width}) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: #{$min-width}) {
		@content;
	}
}

body {
	color: black;
}

main {

	// @media screen and (min-width: $break-small) {
	// 	background-color: blue;
	// }

	@include desktop {

		background-color: RebeccaPurple;
		margin: 0 auto;
		width: 1200px;

	}

	@include mobile {
		background-color: blue;
	}

	// background-color: red;
	width: 100%;

}

p {

	@include desktop {
		color: red;
	}

	@include mobile {
		color: green;
	}
}